<h2>Book Appointment</h2>

<form method="POST">
    {% csrf_token %}

    <input type="text" name="patient_name" placeholder="Patient Name"><br><br>

    <input type="number" name="age" placeholder="Age"><br><br>

    <select name="gender">
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
    </select><br><br>

    <input type="text" name="doctor" placeholder="Doctor Name"><br><br>

    <input type="date" name="date"><br><br>

    <input type="time" name="time"><br><br>

    <textarea name="reason" placeholder="Reason"></textarea><br><br>

    <button type="submit">Book Appointment</button>
</form>